.hidden {
    display: none !important;
}

.viewer {
  position: relative;
  background-color: #2b3035;
  width: 512px;
  height: 512px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

#generatingPlanel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000004c;
  user-select: none;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s;
}

#previewInfoPanel {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0px;
  background-color: #00000062;
  user-select: none;
  pointer-events: none;
}

.checker {
  background-image: 
    repeating-linear-gradient(45deg, hsl(0, 0%, 60%) 25%, transparent 25%, transparent 75%, hsl(0, 0%, 60%) 75%, hsl(0, 0%, 60%)), 
    repeating-linear-gradient(45deg, hsl(0, 0%, 60%) 25%, hsl(0, 0%, 40%) 25%, hsl(0, 0%, 40%) 75%, hsl(0, 0%, 60%) 75%, hsl(0, 0%, 60%));
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}